<div class="input-field col s12">
    <input id="keyword" type="search" class="validate">
    <label for="keyword">Type your keyword...</label>
    <a class="clear" data-backgrid-action="clear" href="#"></a>
</div>
